<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>jiveUrl</string>
		<key>Title</key>
		<string>Jive URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>username</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>Username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>password</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>I visited The Commons!</string>
		<key>Key</key>
		<string>statusUpdate</string>
		<key>Title</key>
		<string>Status update</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
